<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link href="/static/css/mycustom.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
{% block baseblock %}
<div class="headingBlock">
    <h4> Add an Employee</h4>
</div>
<div class="container">
    <form action="/add_emp" enctype="multipart/form-data" id="empsform" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input class="form-control" id="first_name" name="first_name" type="text">

        <label for="last_name">Last Name</label>
        <input class="form-control" id="last_name" name="last_name" type="text"><br><br>
        <label for="dept">Department</label>
        <select id="dept" name="dept">
            {% for dept_name in department_names %}
            <option> {{dept_name}}</option>
            {% endfor%}
        </select><br><br>

        <label for="salary">Salary</label>
        <input class="form-control" id="salary" name="salary" type="text"><br>
        <label for="bonus">Bonus</label>
        <input class="form-control" id="bonus" name="bonus" type="text"><br>
        <label for="role">Role Name</label>
        <select class="form-control" id="role" name="role">
            {% for role_name in role_names %}
            <option> {{role_name}}</option>
            {% endfor%}
        </select><br><br>
        <label for="phone">Phone Number</label>
        <input class="form-control" id="phone" name="phone" type="text"><br><br>
        <label for="image">Profile Pic</label>
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
    </form>

</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

{% endblock %}
</body>
</html>