<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link href="/static/css/mycustom.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
{% block baseblock %}

<div class="headingBlock">
    <h4>Employee Feedback</h4>
</div>

<div class="container">

    <form id="empsform" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input class="btn btn-primary" name="" type="submit" value="submit">
    </form>

</div>
{% endblock %}
</body>
</html>