<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallary</title>
    <style>
        img{
            border: 2px solid black;
            border-radius:5px;
            padding:10px;
            width:40%;
            float: left;
            margin-right: 10px;
            }
    </style>
</head>
<body style="background-color: #f2f2f2;">
{% block baseblock %}

<a href="/all_emp" role="button">Back</a>

<div class="container">
    <form id="empsform" action="/update_emp/{{employee_to_be_updated.id}}" method="post">
        {% csrf_token %}
        <img src="{{ employee_image_obj.img.url }}" class="img-responsive"  />
        <label for="empid" >Emp ID</label>
        <input type="text" disabled="disabled" id="empid" name="empid" value={{employee_to_be_updated.id}} ><br><br>
        <label for="first_name">First Name</label>
        <input type="text" disabled="disabled" id="first_name" name="first_name" value={{employee_to_be_updated.first_name}} ><br><br>
        <label for="last_name">Last Name</label>
        <input type="text"  disabled="disabled" id="last_name" name="last_name" value="{{employee_to_be_updated.last_name}}"><br><br>
        <label for="dept">Department</label>
        <select name="dept" id="dept" disabled >

             {% for dept_name in department_names %}
                 {% if dept_name == employee_to_be_updated.dept.name %}
                    <option selected="{{dept_name}}">{{employee_to_be_updated.dept}}</option>
                 {% else %}
                    <option>{{dept_name}}</option>
                {% endif %}
          {% endfor%}
        </select><br><br>
        <label for="salary">salary</label>
        <input type="text" disabled="disabled" id="salary" name="salary" value="{{employee_to_be_updated.salary}}"><br><br>
        <label for="bonus">Bonus</label>
        <input type="text" disabled="disabled" id="bonus" name="bonus" value="{{employee_to_be_updated.bonus}}"><br><br>
        <label for="role">Role</label>
         <select name="role" id="role" disabled>
              {% for role_name in role_names %}
                 {% if role_name == employee_to_be_updated.role.name %}
                    <option selected="{{role_name}}">{{employee_to_be_updated.role}}</option>
                 {% else %}
                    <option>{{role_name}}</option>
                {% endif %}
          {% endfor%}
         </select><br><br>
        <label for="phone">Phone Number</label>
        <input type="text" disabled="disabled" id="phone" name="phone" value="{{employee_to_be_updated.phone}}"><br><br>

    </form>

</div>


{% endblock %}

</body>
</html>